body{ 
  margin: 0 auto; 
  padding: 0; 
  min-height: 100vh; 
}

@media print {
  .no-print {
    display: none !important;
  }

  .imprimir-factura {
    box-shadow: none !important;
    border: none !important;
  }

  body {
    background: #fff !important;
  }
}